* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 5px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    padding: 10px 0px;
    background-image: linear-gradient(rgb(0, 204, 255), rgba(0, 204, 255, 0.5));
    color: white;
    text-shadow: 1px 2px 2px black;
}

h2 {
    color: rgb(0, 0, 37);
}

#pageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

#sidebar {
    min-width: 20vw;
    border: 1px rgb(0, 204, 255) solid;
    box-shadow: 0px 0px 1px rgb(0, 204, 255);
    background-color: rgba(0, 204, 255, 0.5);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}

hr {
    border: none;
    border-top: 4px rgb(223, 241, 252) double;
    width: 90%;
    margin-bottom: 15px;
}

#container {
    border: rgb(0, 204, 255) 1px solid;
    box-shadow: 0px 0px 1px rgb(0, 204, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 80vh;
}

.gridRow {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
}

.gridSquare {
    display: flex;
    background-color: rgb(242, 252, 253);
    border: 1px solid black;
    flex-grow: 1;
}

#clearGrid {
    padding: 5px 30px;
    background-color: rgba(0, 97, 223, 0.9);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    letter-spacing: 0.9px;
}

button {
    font-size: 22px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 1px 1px rgba(0, 97, 223, 1);
}

.slidecontainer {
    width: 100%;
  }
  
.slider {
-webkit-appearance: none;
appearance: none;
width: 100%;
height: 25px;
background: #d3d3d3;
outline: none;
opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
-webkit-transition: .2s; /* 0.2 seconds transition on hover */
transition: opacity .2s;
height: 15px;
border-radius: 5px; 
}
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: rgba(0, 97, 223, 1);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgba(0, 97, 223, 1);
    cursor: pointer;
  }

  #colorBlock {
      display: flex;
      flex-direction: column;
  }

.optionLabel {
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
  }

form {
    font-size: 18px;
    text-align: left;
    line-height: 1.5;
}

input[type=radio] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
    margin-right: 5px;
}

input[type="radio"] + label {
    color: rgb(37, 37, 37);
}

input[type="radio"]:checked + label {
    color: black;
}

#gridSize {
    font-size: 15px;
    margin-bottom: 10px;
}